 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

//standard colors

$color1: hsla(242, 9%, 75%, 1);     //grey
$color2: blue;
$color3: green;

* {
  border: 1px solid $color1;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.Box {
  width: 400px;
  margin: 0px auto 0 auto;

  .Header {
    width: 400px;
    height: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: blue;
    border-radius: 6px;
    padding: 0px;
    text-align: center;
    transition-property: /*height*/ background-color;
    /*transition-duration: 4s;
    transition-delay: 2s;
*/
  }

.click1 {
  width: 400px;
  height: 350px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: blue;
  border-radius: 6px;
  padding: 0px;
  text-align: center;
  transition-property: height background-color;
  transition-duration: 4s;
  transition-delay: 2s;

}

  .Header:hover {
    margin: 0px auto 0 auto;
    width: 400px;
/*  transition-property: height;
    transition-duration: 4s;
    transition-delay: 2s;
*/    background-color: red;

  }

  .Body{
    margin: 30px auto 0 auto;
    height: 300px;
    width: 400px;
    font-size: 12px;
    font-weight: 200;
    line-height: 30px;
    background-color: green;
    border-radius: 6px;
    padding: 20px;
    transition-property: height;
    text-align: justify;
  }

}
